<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href="../../static/css/global.css" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="../../static/layui/css/layer.css" th:href="@{/layui/css/layer.css}">
    <link rel="stylesheet" href="../../static/layui/css/code.css" th:href="@{/layui/css/code.css}">
    <link rel="stylesheet" href="../../static/layui/css/laydate.css" th:href="@{/layui/css/laydate.css}">
</head>
<body>

<div th:replace="~{common/header::header-bar}"></div>
<div class="layui-container fly-marginTop fly-user-main">
    <div th:replace="~{common/leftbar_tea::leftbar_tea}"></div>
    <div class="fly-panel fly-panel-user" pad20="">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title" id="LAY_mine">
                <li class="layui-this">
                    正在进行的项目
                </li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form layui-form-pane layui-tab-item layui-show" >

                    <table class="layui-hide" id="test" lay-filter="demo"></table>
                    <script  type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="cancel">解约</a>
                        <a class="layui-btn layui-btn-xs" lay-event="finish">完结</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="watch">查看过程文件</a>
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="" th:src="@{/jquery-3.3.1.js}"></script>
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script th:inline="none">
    layui.use(['laydate', 'layer', 'table', 'carousel', 'upload', 'element'], function(){
        var laypage = layui.laypage,
            layer=layui.layer,
            element=layui.element,
            table = layui.table;

        table.render({
            elem: '#test'
            ,height: 500
            ,url: '/getTeaIngContracts' //数据接口
            ,page: true //开启分页
            ,limit: 10
            ,even: true
            ,cellMinWidth: 80
            ,cols: [[ //表头
                {field: 'taskId', title: '项目ID',  sort: true}
                ,{field: 'taskTitle', title: '项目标题' }
                ,{field: 'userAId', title: '申请人',  sort: true}
                , {filed:'right',with:150,align:'center',toolbar:'#barDemo'}
            ]]
            ,done:function (data) {
                userPage.data = data.data;
            }
        });

        table.on('tool(demo)',function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            var tr = obj.tr;

            if (layEvent === 'watch'){

                var url = '/showProcess?id='+data.id;
                //window.location.href=url;
                window.open(url);
            }

            if (layEvent === 'cancel'){
                //根据数据中id 将task状态变成1
                $.ajax({
                    type:'post',
                    dataType:'json',
                    data:{'contractId':data.id,'state':3},
                    xhrFields: {withCredentials: true},
                    url:'/cancelContract',
                    success:function (data) {
                    }
                })
            }

            if (layEvent === 'finish'){
                //根据数据中id 将task状态变成1
                $.ajax({
                    type:'post',
                    dataType:'json',
                    data:{'contractId':data.id,'state':2},
                    xhrFields: {withCredentials: true},
                    url:'/finishContract',
                    success:function (data) {
                    }
                })
            }

        });

    });
</script>
</body>
</html>